#videotitle
  max-width: 100%

#videodescription
  background: $youtubewhite

#showmorebutton
  background: Transparent
  border-style: solide none none none
  font-size: 10px

  a
    text-decoration: none
    color: $youtubedarkergray
