$youtubelightgray: #f6f6f6
$youtubegray: #ddd
$youtubemidgray: #ccc
$youtubedarkergray: #807b7b

$youtubewhite: #fff
$youtubeblue: #167ac6
$youtubedarkerblue: #166aaa

%flex
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@import 'nav'
// @import 'section'
// @import 'video'
// @import 'sidebar'
// @import 'sliderswitch'

body
  font-family: 'Roboto', sans-serif
  background: $youtubelightgray
  margin: 0

// #left-margin
//     flex: 1
//     background: black
//
// section
//     flex: 1
//
// aside
//     flex: 1
//
section, aside, #left-margin
  display: none
