$youtubelightgray: #f6f6f6
$youtubegray: #ddd
$youtubemidgray: #ccc
$youtubedarkergray: #807b7b
$youtubewhite: #fff
$youtubeblue: #167ac6
$youtubedarkerblue: #166aaa

%flex
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

html
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*, *:before, *:after
  -webkit-box-sizing: inherit
  -moz-box-sizing: inherit
  box-sizing: inherit

body
  font-family: 'Roboto', sans-serif
  background: $youtubelightgray
  margin: 0

@import 'flex'
@import 'nav'
// @import 'section'
// @import 'video'
// @import 'sidebar'
// @import 'sliderswitch'
